extends layout
block content
  label(for="reports") Statistics for  #{input} :
  if(reports.length !== 0)
    ul(class="list-group")
    each item in reports
      li(class="list-group-item")= item.report.category + ' reported on '+ item.report.date
  else
    label Nothing reported for this city!
