extends layout
block content
  form.input(action = "/search/reports", method = "post")
    div(class  = "form-group")
      label(for = "city") Enter a city
      input#addressInput(type = "text", name = "address", required=true, class= "form-control")
    input#submit(type = "submit" value = "Search" class = "btn btn-default")
